body{
    color: aliceblue;
    text-align: center;
    padding: 20px 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
    background: linear-gradient(to right,white,black);
}
input{
    padding: 10px;
    border-style:solid ;
    border-color: black;
    font-size: medium;
    font-style:italic;
}
input:hover{
    background-color: black;
    color: white;
}
button{
    padding: 5px;
    cursor: pointer;
}
#submit:hover{
    background-color: black;
    color: white;
}
input[type="checkbox"]{
    accent-color: white;
    transform: scale(1.5);    
}
.modal{
    display:none;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background:white;
}

.modal-content{
    color: black;
    background:white;
    width:400px;
    margin:100px auto;
    padding:20px;
    text-align:center;
}
